.cards{
    max-width: var(--body-max-width);
    display: flex;
    gap: 15px;
    justify-content: center;
    max-width: 1320px;
    margin: auto;
    
}
.card{
    border: 1px solid var(--White);
   
}
.cardContent{
    padding: 16px;
}
.cardImage{
    width: 100%;
}
.contentTitle{
    margin-top: 0px;
    margin-bottom: 12px;
}
.cardText{
    margin-bottom: 12px;
}