
@import url(./variables.css);

.topNav{
    display: flex;
    background-color: var(--lightgreen);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav a{
    text-decoration: none;
    color: var(--Secondary);
    padding: 10px;

}

nav a:hover{
    color: var(--Primary);
    background-color: white;
}