
@import url(./variables.css);
@import url(./button.css);
@import url(./card.css);
@import url(./footer.css);

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: var(--White);
}
h3{
    font-size: var(--h3-fontSize);
}
h4{
    font-size: var(--h4-fontSize);
}
h5{
    font-size: var(--h5-fontSize);
}
.topNav{
    display: flex;
    background-color: var(--White);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav a{
    text-decoration: none;
    color: var(--Black);
    padding: 10px;

}

nav a:hover{
    color: var(--Primary);
    background-color: white;
}

.hero h3{
    text-align: center;
}
.heropic{
    width: 1320px;
    padding: 34px 0px;
}

.avatar{
    width: 100%;
}
.welcomeContent{
    background-image: url(../images/usamap.png);
    min-height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.welcomeContent p{
    font-size: 32px;
}
.welcomeContent h3{
    font-size: 64px;
    margin-bottom: 30px;
}
.logo{
    height:80px ;
}

.attractions h4{
    text-align: center;
   
}

.hero{
    background-image: url(../images/home_hero.png);
    min-height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.nav-item{
    background-color:var(--Yellow);
}
