/*Poppins Font*/
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');





:root{
    --Primary:#acbcee;
    --darkblue:#6a88e4;
    --Black:#000000;
    --White: #ffffff;